@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Regisztráció megerősítése";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    
     <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kattints ide a megerősítéshez</a>
</p>
    }
    else
    {

    }
}

